@use './../variables' as v;

.appWrapper {
    @include v.flex(center, center, row);
    @include v.center-background-image('./../images/background.jpg');
    width: 100%;
    min-height: 100vh;
    background-color: v.$light-grey;
    overflow-y: visible;
    overflow-x: hidden;
    #attributeAuthor {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 10px;
        a {
            color: v.$red;
        }
    }
    .backgroundShade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 5;
        pointer-events: none;
        background-color: transparent;
        transition: .3s linear;
    }
}
