@use './../variables' as v;

.dashboardWrapper {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

header {
    text-align: center;
    font-family: v.$font1;
    color: v.$red;
    font-size: 25px;
    background-color: v.$transparent-yellow;
    padding: 20px 0;
    position: relative;
    button {
        @include v.button1(0, v.$red, v.$font2);
        position: absolute;
        top: 10px;
        right: 10%;
        width: 50px;
        height: 25px;
        border-radius: 2px;
    }
}

@media screen and (max-width: 600px) {
    header {
        button {
            right: 5%;
        }
    }
}