@use './../variables' as v;

.editListWrapper {
    position: relative;
    width: 100%;
    max-height: 600px;
    border: 1px solid v.$red;
    background-color: v.$light-grey;
    cursor: default;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
    .editListName {
        font-size: 20px;
        font-family: v.$font2;
        text-align: center;
        margin: 10px 0;
        background-color: v.$transparent-blue;
        transform: translateX(-7.5px);
    }
    .addToEditContainer {
        @include v.flex(center, center, 0);
        width: 300px;
        margin: 0 auto 10px auto;
        .addToEdit {
            background-color: v.$transparent-green;
            margin-right: 5px;
        }
        .addToEditButton {
            @include v.flex(center, center, 0);
            @include v.button1(0, v.$transparent-green, v.$font1);
            width: 20px;
            height: 20px;
            font-size: 20px;
            font-weight: 900;
        }
    }
    .displayErrors {
        background-color: v.$transparent-red;
        margin-bottom: 10px;
    }
    .newAddsList,
    .editList {
        input {
            margin-bottom: 10px;
            text-align: center;
            font-family: v.$font2;
            font-weight: 600;
        }
    }
    .newAddsList {
        @include v.flex(flex-start, center, column);
        input {
            background-color: v.$transparent-green;
        }
    }
    .setDeleteItem {
        width: 15px;
        height: 15px;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: v.$red;
        font-size: 20px;
        font-weight: 900;
        margin-left: 5px;
    }
    .editList {
        @include v.flex(flex-start, center, column);
        input {
            background-color: v.$transparent-yellow;
        }
    }
    .saveEdit {
        @include v.button1(v.$transparent-green, black, v.$font2);
        position: fixed;
        top: 35px;
        left: 20px;
        font-size: 18px;
        padding: 0 5px;
        border-radius: 3px;
        transform: translateX(-7.5px);
    }
}