@use './../variables' as v;

.expandedListWrapper {
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    max-height: 600px;
    border: 1px solid v.$red;
    background-color: v.$light-grey;
    margin: 0 auto;
    cursor: default;
    transform: translateY(-100px);
    z-index: 10;
    overflow-x: hidden;
    overflow-y: scroll;
    
    .expandedList {
        ul{
            li{
                list-style: none;
                margin-bottom: 5px;
            }
        }
        .itemsList {
            .expandedItem {
                width: 50%;
                margin-left: 30%;
                margin-bottom: 10px;
                .checkContainer {
                    display: block;
                    position: relative;
                    cursor:pointer;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                        &:checked ~ .checkMark {
                            background-color: v.$transparent-green;
                        }
                        &:checked ~ .checkMark::after {
                            display: block;
                        }
                    }
                    .checkMark {
                        position: absolute;
                        top: 2px;
                        left: 0;
                        height: 20px;
                        width: 20px;
                        background-color: v.$transparent-yellow;
                        border: 1px solid v.$blue;
                        border-radius: 2px;
                        transition: .2s linear;
                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                        }
                    }
                    &:hover input ~ .checkMark {
                        border-color: v.$red;
                    }  
                    .checkMark::after {
                        left: 5px;
                        top: .5px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
                .expandedItemName {
                    margin-left: 25px;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .expandedListWrapper {
        width: 100%;
        border-left: none;
        border-right: none;
        button {
            right: 20px;
        }
        .expandedList {
            .itemsList{
                .expandedItem{
                    margin-left: 50px;
                }
            }
        }
    }
}