@use './../variables' as v;

.listWrapper {
    border: 1px solid v.$red;
    border-radius: 2px;
    margin: 15px auto;
    max-height: 35px;
    width: 50%;
    font-family: v.$font2;
    text-align: center;
    background-color: v.$transparent-yellow;
    cursor: pointer;
    .expandedContainer {
        position: relative;
        top: 50%;
        left: 50%;
        height: 600px;
        width: 700px;
        transform: translate(-50%, -50%);
        z-index: 10;
        cursor: default;
        .closeButton {
            @include v.button1(0, v.$red, v.$font2);
            width: 25px;
            height: 25px;
            font-weight: 900;
            position: relative;
            top: 35px;
            left: 40%;
            z-index: 15;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 800px) {
    .listWrapper {
        width: 100%;
        .expandedContainer {
            width: 100%;
        }
    }
}