@use './../variables' as v;


.myListsWrapper {
    width: 70%;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 40px;
    z-index: 2;
    .listsHeader {
        text-align: center;
        font-family: v.$font2;
        font-size: 40px;
        color: v.$red;
    }
    .lists {
        border: 1px solid v.$yellow;
        border-radius: 2px;
        background-color: v.$transparent-blue;
        max-height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
        .findMyList {
            display: block;
            font-size: 18px;
            text-align: center;
            margin: 5px auto;
            border: 1px solid v.$red;
            color: v.$red;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .myListsWrapper {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .myListsWrapper {
        width: 100%;
        padding-top: 5px;
        .listsHeader {
            font-size: 30px;
        }
        .lists {
            border-left: none;
            border-right: none;
            max-height: 65vh;
        }
    }
}