@use './../variables' as v;


.myListsWrapper {
    width: 70%;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 40px;
    z-index: 2;
    .listsHeader {
        text-align: center;
        font-family: v.$font2;
        font-size: 40px;
        color: v.$red;
    }
    .lists {
        border: 1px solid v.$yellow;
        border-radius: 2px;
        background-color: v.$transparent-blue;
    }
}

@media screen and (max-width: 1200px) {
    .myListsWrapper {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .myListsWrapper {
        width: 100%;
        .lists {
            border-left: none;
            border-right: none;
        }
    }
}