@use './../variables' as v;

#navWrapper {
    position: sticky;
    height: 59px;
    top: 0;
    z-index: 1;
}

.navList {
    @include v.flex(space-around, center, 0);
    list-style: none;
    border-top: 2px solid v.$blue;
    border-bottom: 2px solid v.$blue;
    li {
        text-align: center;
        width: 100%;
        text-decoration: none;
        font-size: 35px;
        font-family: v.$font2;
        font-weight: 600;
        background-color: v.$light-blue;
        color: v.$red;
        transition: .3s linear;
        cursor: pointer;
        &::after {
            display: block;
            content: '';
            border-bottom: 2px solid v.$red;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.mobileOptions {
    display: none;
}

.mobile1,
.mobile2,
.mobile3 {
    width: 35px;
    height: 6px;
    background-color: black;
    border-radius: 3px;
}

@media screen and (max-width: 1000px) {
    #navWrapper {
        background-color: v.$blue;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .navList {
        opacity: 0;
        flex-direction: column;
        position: relative;
        right: 100%;
        top: 17px;
        border-top: v.$light-blue;
        background-color: v.$light-blue;
        transition: right .3s linear;
        li {
            margin: 1em 0;
            &:hover::after {
                transform: scaleX(.5);
            }
        }
    }

    .mobileOptions {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        height: 40px;
        width: 40px;
        position: relative;
        top: 15%;
        left: 80%;
        cursor: pointer;
    }

    .mobile1,
    .mobile2,
    .mobile3 {
        transition: .3s linear;
    }
}

