@use './../variables' as v;

.newListWrapper {
    margin: 40px auto;
    .listsHeader {
        text-align: center;
        font-family: v.$font2;
        font-size: 40px;
        color: v.$red;
    }
    form {
        @include v.flex(center, center, column);
        border: 1px solid v.$red;
        border-radius: 2px;
        margin: 15px auto;
        padding: 10px 0;
        width: 50%;
        font-family: v.$font2;
        text-align: center;
        background-color: v.$transparent-yellow;
        input {
            margin-bottom: 10px;
        }
        .newItemBox{ 
            @include v.flex(center, center, column);
            position: relative;
            padding: 0 30px;
            .addItem {
                @include v.button1(0, v.$red, v.$font1);
                @include v.flex(center, center, 0);
                border-radius: 2px;
                font-weight: 900;
                width: 20px;
                height: 20px;
                font-size: 20px;
                margin-bottom: 10px;
                position: absolute;
                top: 22px;
                right: 5px;
                outline: none;
            }
        } 
        .submitList {
            @include v.button1(v.$light-blue, v.$red, v.$font1);
            width: 80px;
            height: 30px;
            font-size: 16px;
        }
        .listItem {
            position: relative;
            padding: 0 17px;
            margin: 2.5px 0;
            list-style: none;
            button {
                width: 15px;
                height: 15px;
                font-size: 10px;
                font-weight: 900;
                color: v.$red;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
        .successMessage,
        .errorMessage {
            margin-top: 10px;
            padding: 0 10px;
            border-radius: 3px;
        }
        .successMessage {
            background-color: v.$transparent-green;
        }
        .errorMessage {
            background-color: v.$transparent-red;

        }
        ul {
            margin-top: 5px;
            width: 100%;
            max-height: 500px;
            overflow-y: scroll;
            overflow-x: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
            width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: v.$red;
                border-radius: 2px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .newListWrapper {
        margin: 5px auto;
        .listsHeader {
            font-size: 30px;
        }
        form {
            margin: 0;
            width: 100%;
            border-left: none;
            border-right: none;
            ul {
                height: 285px;
            }
        }
    }
}