$light-grey: rgb(230, 230, 230);
$yellow: rgb(236, 240, 129);
$coral: rgb(240, 109, 105);
$red: rgb(163, 59, 55);
$light-blue: rgb(81, 169, 240);
$blue: rgb(64, 119, 163);
$transparent-blue: rgba(81, 169, 240, .8);
$transparent-coral: rgba(240, 109, 105, .7);