$light-grey: rgb(230, 230, 230);
$yellow: rgb(236, 240, 129);
$coral: rgb(240, 109, 105);
$red: rgb(163, 59, 55);
$light-blue: rgb(81, 169, 240);
$blue: rgb(64, 119, 163);
$green: rgb(84, 163, 59);
$transparent-blue: rgba(81, 169, 240, .7);
$transparent-coral: rgba(240, 109, 105, .7);
$transparent-yellow: rgba(236, 240, 129, .7);
$transparent-red: rgba(163, 59, 55, .7);
$transparent-green:rgba(84, 163, 59, 0.7);